@font-face {
    font-family: a attack graffiti;
    font-style: normal;
    font-weight: 400;
    src: local('a Attack Graffiti'), url(https://fonts.cdnfonts.com/s/37608/aAttackGraffiti.woff) format('woff')
}